<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <script>
        function showForm(type) {
            // hide all forms
            document.getElementById('usernameForm').style.display = 'none';
            document.getElementById('emailForm').style.display = 'none';
            document.getElementById('phoneForm').style.display = 'none';

            // show the chosen form
            document.getElementById(type + 'Form').style.display = 'block';
        }
    </script>
</head>
<body>
    <h1>Login Page</h1>
    <button onclick="showForm('username')">Login with Username</button>
    <button onclick="showForm('email')">Login with Email</button>
    <button onclick="showForm('phone')">Login with Phone</button>

    <hr>

    <div id="usernameForm">
        <form action="/login" method="POST">
            <label>Input Username</label>
            <input type="text" name="username" placeholder="Masukkan Username">

            <br>

            <label>Input password</label>
            <input type="password" name="password" placeholder="Masukkan password">
            <input type="hidden" name="loginType" value="username">

            <br><br>

            <button type="submit">Login</button>
        </form>
    </div>
    <div id="emailForm" style="display:none;">
        <form action="/login" method="POST">
            <label>Input Email</label>
            <input type="email" name="email" placeholder="Masukkan Email">

            <br>

            <label>Input password</label>
            <input type="password" name="password" placeholder="Masukkan password">
            <input type="hidden" name="loginType" value="email">

            <br><br>

            <button type="submit">Login</button>
        </form>
    </div>
    <div id="phoneForm" style="display:none;">
        <form action="/login" method="POST">
            <label>Input Phone Number</label>
            <input type="text" name="phone" placeholder="Masukkan Phone Number">

            <br>

            <label for="">Input password</label>
            <input type="password" name="password" placeholder="Masukkan password">
            <input type="hidden" name="loginType" value="phone">

            <br><br>

            <button type="submit">Login</button>
        </form>
    </div>
    <br>
    <p>Belum punya akun? 
        <a href="/signup">
            <button type="button">Sign Up</button>
        </a>
    </p>
</body>
</html>