<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
</head>
<body>
    <p>If you are seeing this message, that means the login page works. Replace this with the frontEnd Later.</p><br>
    <p>Profile? 
        <a href="/profile">
            <button type="button">Profile</button>
        </a>
    </p><br>
    <p>Ingin keluar? 
        <a href="/logout">
            <button type="button">LogOut</button>
        </a>
    </p>
</body>
</html>